altgraph==0.17.2
autopep8==1.6.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
future==0.18.2
futures==2.2.0
goslate==1.5.2
html5lib==1.1
idna==3.3
lxml==4.8.0
pefile==2021.9.3
pycodestyle==2.8.0
PyDictionary==2.0.1
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.2
pywin32-ctypes==0.2.0
requests==2.27.1
six==1.16.0
soupsieve==2.3.1
toml==0.10.2
urllib3==1.26.8
webencodings==0.5.1